<div>
    <a href="http://localhost:7799/">Home</a>
           <a href="http://localhost:7799/addpost">Add Employee</a>
    <form className="container" method="post" action="/postdata">
<div class="mb-3">
<label for="title" class="form-label">Name</label>
<input type="text" class="form-control <%=error.name!==''?'is-invalid':''%>" id="title" name="name" /><div class="invalid-feedback" style="color: red;"><%=error.name%></div>

</div>
<div class="mb-3">
<label for="title" class="form-label">Email</label>
<input type="text" class="form-control <%=error.name!==''?'is-invalid':''%>" id="title" name="email" /><div class="invalid-feedback" style="color: red;"><%=error.email%></div>

</div>
<div class="mb-3">
<label for="title" class="form-label">Age</label>
<input type="text" class="form-control <%=error.name!==''?'is-invalid':''%>" id="title" name="age" /><div class="invalid-feedback" style="color: red;"><%=error.age%></div><%=error.age%>

</div>
<div class="mb-3">
<label for="title" class="form-label">Mobile</label>
<input type="text" class="form-control <%=error.name!==''?'is-invalid':''%>" id="title" name="mobile" /><div class="invalid-feedback" style="color: red;"><%=error.mobile%></div><%=error.mobile%>

</div>
<div class="mb-3">
<label for="des" class="form-label">Salary</label>
<input type="text" class="form-control <%=error.name!==''?'is-invalid':''%>" id="des" name="salary" /><div class="invalid-feedback" style="color: red;"><%=error.salary%></div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>